@import "./../../src/responsive.scss";
$bgColor: #B3B4BD;
$textHoverColor: white;
$debug: false;
.homePage {
  display: flex;
  flex-direction: row;
  height: 100vh; // Full height view

  .textContainer {
    flex: 3;
    padding: 20px;

    .wrapper {
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg {
        padding-right: 50px;
      }

      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
      }

      .title {
        font-size: 60px;
        font-weight: bold;

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        flex-direction: column;
        gap: 10px;
        
        .ag-format-container {
          width: 842px;
          margin: 0 auto;
     
          .ag-courses_box {
            display: flex;
            align-items: flex-start;
            padding: 5px 0;
            

            .ag-courses_item {
              flex-basis: calc(33.333% - 30px);
              margin: 0 15px 30px;
              border-radius: 28px;
              overflow: hidden;
              transition: transform 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
                  &:hover {
                    transform: translateY(-10px);  // Move box 10px up on hover
                    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);  // Make shadow stronger
                  }

              .ag-courses-item_link {
                display: block;
                padding: 30px 20px;
                background-color: #121212;
                position: relative;
                overflow: hidden;
                transition: color 0.5s ease;

                &:hover {
                  text-decoration: none;
                  color: #fff;

                  .ag-courses-item_bg {
                    transform: scale(10);
                  }
                }

                .ag-courses-item_bg {
                  height: 128px;
                  width: 128px;
                  background-color: #f9b234;
                  border-radius: 50%;
                  position: absolute;
                  top: -75px;
                  right: -75px;
                  transition: all 0.5s ease;
                }

                .ag-courses-item_title {
                  display: flex;
                  font-weight: bold;
                  font-size: 30px;
                  color: #fff;
                  min-height: 87px;
                  margin: 0 0 25px;
                  position: relative;
                  z-index: 2;

                  @include lg {
                    font-size: 24px;
                  }
                }
                .icon {
                  width: 30px;   // Adjust size of the icon
                  height: 30px;  // Keep icon square
                }
              }
            }
          }
        }

        @include sm {
          display: none;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    width: 5%;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include md {
      display: none;
    }

    img {
      width: 50%;
      position: relative;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }

.lockroom {
  display: inline-block;
	position: relative;
	z-index: 1;
	overflow: if($debug, unset, hidden);
	
	text-decoration: none;
	
	font-family: sans-serif;
	font-weight: 600;
	font-size: 2em;
	
  padding: 8px 6px;

	
	color: $bgColor;
	
	border: 0.15em solid $bgColor;
	border-radius: calc(0.75em + 0.5em + 0.15em);
	
	transition: 4s;
	
	&:before,
	&:after {
		content: '';
		position: absolute;
		top: -1.5em;
		
		z-index: -1;
		
		width: 200%;
		aspect-ratio: 1;
		
		border: if($debug, inherit, none);
		border-radius: 10%;
		
		background-color: rgba($bgColor, 0.25);
		
		transition: 3s;
	}
	
	&:before {
		left: -80%;
		transform: translate3d(0, 5em, 0) rotate(-340deg);
	}
	
	&:after {
		right: -80%;
		transform: translate3d(0, 5em, 0) rotate(390deg);
	}
	
	&:hover,
	&:focus {
		color: $textHoverColor;
		
		&:before,
		&:after {
			transform: none;
			background-color: rgba($bgColor, 0.75);
		}
	}
}
}
