@import "./../../src/responsive.scss";

.homePage {
  display: flex;
  flex-direction: row;
  height: 100vh;  // Full height view

  .textContainer {
    flex: 3;
    padding: 20px;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg {
        padding-right: 50px;
      }

      @include md {
        padding: 0;
      }

      @include sm {
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;
        font-weight: bold;

        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;
        .box{
          background-color: #B3B4BD;
          border-radius: 15px; 
          padding: 20px; 
          padding-left: 20px;  
          padding-right: 20px;
          margin-left: 15px;   // Left margin
          margin-right: 15px;  // Right margin
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
          transition: transform 0.25s ease-in-out, box-shadow 0.5s ease-in-out;
          &:hover {
            transform: translateY(-10px);  // Move box 10px up on hover
            box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);  // Make shadow stronger
          }
        }
        @include sm {
          display: none;
          
        }

        h1 {
          font-size: 36px;
          color: #000000;
          @include lg {
            font-size: 32px;
          }
        }
      }
      
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;  // Center image vertically and horizontally

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include lg {
        width: 105%;
      }
    }
  }

  .lockroom {
    background-color: #6b63ff;
    color: white;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
  }
}
