@use "./../../src/responsive.scss";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;
.layout {
  height: 100vh;
  //max-width: 1000px;

  overflow: auto; // Allows both vertical and horizontal scrolling

  position: relative;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Lato", sans-serif;
  overflow: hidden;
}
