@import "tailwindcss/base";
@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "./../../src/layout.scss";
.map_container {
  position: relative;

  .zoom-buttons {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;

    .zoom-button {
      padding: 10px 15px; // Padding for better touch area
      background-color: #007bff; // Button color
      color: white; // Text color
      border: none; // No border
      border-radius: 5px; // Rounded corners
      cursor: pointer; // Change cursor on hover
      transition: background-color 0.3s; // Smooth background color transition

      &:hover {
        background-color: #0056b3; // Darker shade on hover
      }
    }
  }

  .scroll-container {
    overflow: scroll;
  }

  .room-layout {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;

      .cell {
        width: 24px;
        height: 24px;
        padding: 2px;
        position: relative;

        &.room {
          border-radius: 5px; // Rounded corners
          cursor: pointer; // Change cursor on hover
          transition: background-color 0.3s;

          .room-button {
            display: block; // Make it a block element
            width: 100%; // Full width
            height: 100%; // Full height
            background-color: #1ec120; // Initial button color
            color: white; // Text color
            border: none; // No border
            border-radius: 5px; // Rounded corners
            font-size: 7px; // Font size
            font-weight: bold; // Bold text
            //text-align: center; // Center text
            line-height: 5px; // Vertically center text
            transition: background-color 0.3s, transform 0.2s; // Transition for background color and transform

            &:hover {
              background-color: #0056b3; // Darker color on hover
              transform: scale(1.05); // Slightly enlarge on hover
            }

            &:active {
              transform: scale(0.95); // Slightly shrink on click
            }
          }
        }

        &.hallway {
          background-color: #f0e68c;
          font-size: 9px;
        }

        &.toilet {
          background-color: #ffcccb;
          font-size: 9px;
        }

        &.stairs {
          background-color: #add8e6;
          font-size: 9px;
        }

        &.entrance {
          background-color: #90ee90;
          font-size: 9px;
        }

        &.water {
          background-color: #ffffe0;
          font-size: 9px;
        }

        &.common-room {
          background-color: #d3d3d3;
          font-size: 9px;
        }

        &.empty {
          background-color: #fff; // Background color for empty cells
        }

        .info-box {
          position: absolute;
          top: 24px; /* Adjust as necessary */
          left: 24px;
          width: 200px;
          background-color: white;
          border: 1px solid #ccc;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          padding: 10px;
          z-index: 10;
          overflow: auto;

          .profile-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          .user-info {
            h3 {
              margin: 5px 0;
              font-size: 16px;
            }
            p {
              margin: 0;
              font-size: 14px;
            }

            .social-links {
              margin-top: 5px;

              a {
                margin-right: 10px;
                text-decoration: none;
                color: #0077b5; /* LinkedIn blue */

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}
